{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%static 'css/streamtoken.css'%}">
</head>

<body>
    <div class="container-fluid">
        <header class="mb-2">
            <div class="row">
                <span class="col-3">
                    <a href="{%url 'home'%}" id="backLink"> &lAarr; Back to Page</a>
                </span>
                <span class="col-6">
                    <h1 class="text-center" style="margin: 0;">Result</h1>
                </span>
                <span class="col-3"></span>
            </div>
        </header>
        <hr class="my-1 mb-3">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{%url 'streamdt'%}" id='vidHolder' style="width: 85%;">
        </div>
    </div>
    <script src="{%static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
</body>

</html>